.git
.gitignore
.env
**/.env
**/__pycache__
**/*.pyc
.venv
venv
app
apk
docs
images
chrome_extension
gradle
gradlew*
build
local.properties
*.mp4
*.pdf
*.eml
backend/ngrok*
backend/data/*.db
backend/tests
backend/ml/data
